<div class="container-fluid py-6" style="background-color: #1a1d20">
  <div class="row">
    <div
      class="about-me-img col-12 col-md-4 text-center pb-5 position-relative"
    >
      <button (click)="showModalPhoto()" *ngIf="isOnLine" class="edit"></button>
      <img
        style="margin-top: -50px"
        class="rounded-circle border"
        src="../assets/foto-perfil.jfif"
        alt="foto perfil"
      />
      <h3 class="text-white pt-4">Sobre Mi</h3>
    </div>
    <div
      class="about-me text-center col-12 col-md-8 text-white d-flex justify-content-center align-items-center"
    >
      <p class="fs-6">
        Me considero un entusiasta y autodidacta de la informatica.
        particularmente me aboco mas al desarrollo web pero me interesan todos
        los campos de la informatica. Considero que me desenvuelvo bien
        trabajando en equipo y priorizando tareas.
        <button
          (click)="showModalDescrip()"
          *ngIf="isOnLine"
          class="edit"
          style="bottom: 10%"
        ></button>
      </p>
    </div>
  </div>
</div>

<!--DECLARACIONES DE LAS VENTANAS MODAL-->

<!-- MODAL DE CAMBIO DE LA FOTO DE PERFIL-->

<div
  *ngIf="switchFormPhoto"
  class="bg-modal d-flex justify-content-center align-items-center"
>
  <div class="p-5 bg-light position-relative">
    <button
      (click)="closeModalPhoto()"
      class="close position-absolute"
    ></button>
    <form [formGroup]="formPhoto" (submit)="handleSubmitPhoto($event)">
      <div>
        <label class="form-label fw-bold" for="email">URL imagen:</label>
        <input class="form-control" type="text" formControlName="url" />
      </div>
      <br />
      <div>
        <button class="btn btn-primary">Cambiar Imagen</button>
      </div>
    </form>
  </div>
</div>

<!-- MODAL DE CAMBIO DE LA DESCRIPCIÓN-->

<div
  *ngIf="switchFormDescrip"
  class="bg-modal d-flex justify-content-center align-items-center"
>
  <div class="p-5 bg-light position-relative">
    <button
      (click)="closeModalDescrip()"
      class="close position-absolute"
    ></button>
    <form [formGroup]="formDescrip" (submit)="handleSubmitDescrip($event)">
      <div>
        <label class="form-label fw-bold" for="email">Descripción:</label>
        <input class="form-control" type="text" formControlName="descrip" />
      </div>
      <br />
      <div>
        <button class="btn btn-primary">Cambiar descripción</button>
      </div>
    </form>
  </div>
</div>
